<div class="container"
  fxLayout="column"
  fxLayoutGap="10px">
  <div fxFlex>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="100" fxLayout="column" fxLayoutGap="20px">
        <mat-card>
          <mat-card-header>
            <mat-card-title>
                <h2>{{article.title}}</h2>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="container" fxLayout="column" fxLayoutGap="10px">
                <div>
                    <h3>Аннотация</h3>
                    <p>{{article.annotation}}</p>
                </div>
                <mat-divider></mat-divider>
                <p>{{article.text}}</p>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>

