<div class="container"
  fxLayout="column"
  fxLayoutGap="10px">

  <div fxFlex>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="100" fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="center">
        <mat-card id="card-hello">
          <mat-card-header style="justify-content: center; align-items: center;">
            <mat-card-title>
              <h2>Клиника HealthPoint</h2>
            </mat-card-title>
          </mat-card-header>
        </mat-card>
        <app-slide-element id="card-slider"></app-slide-element>
        <app-doctors id="card-doctors"></app-doctors>
        <app-med-services id="card-all-services"></app-med-services>
        <app-med-articles id="card-articles"></app-med-articles>
        <app-contactus id="card-contact"></app-contactus>
      </div>
    </div>
  </div>
</div>